
@handle-width:8px;
@bar-height:30px;
@bar-color: #eeeeee;
@border-color: #cccccc;
@border-width: 2px;
@movement-duration: 0.2s;

.user-select(@select) {
    -webkit-user-select: @select;
    -moz-user-select: @select;
    -webkit-user-select: @select;
    -ms-user-select: @select;
    user-select: @select;
}

.time-bar {
    position: relative;
    background: @bar-color;
    display: inline-block;
    box-sizing: border-box;
    height: @bar-height;
    cursor: normal;
    .user-select(none);
}

.interval {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    top: 0;
    height: 100%;
    border: @border-width solid @border-color;
    .user-select(none);
    transition: @movement-duration left ease-out, @movement-duration width ease-out;
}

.interval-handle {
    position: absolute;
    display: block;
    box-sizing: border-box;
    top: 0;
    height: auto;
    bottom: 0;
    width: @handle-width;
    margin: -@border-width;
    .user-select(none);
}

.interval-handle-left {
    left: 0;
    cursor: w-resize;
    border-left: @border-width solid @border-color;
}

.interval-handle-right {
    right: 0;
    cursor: e-resize;
    border-right: @border-width solid @border-color;
}
